body{
    font-family: "Roboto", sans-serif;
}
.content-main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header p {
    color: #111827;
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
}
.image-display {
    width: 650px;
    height: 380px;
    padding: 5px 10px 5px 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}
.image-display img{
    border-radius: 12px;
    width: 500px;

}
.image-display p {
    color: #494d52;
    font-size: 1rem;
}
.image-display-error{
    font-size: 1.3rem;
}