{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'css/style2.css' %}">
    
</head>
<body>
    <div class="uploader-container">
        <div class="uploader-header">
            <h1>Upload Images</h1>
            <p>Upload your original images to the database</p>
        </div>
        <form action="{% url 'image-upload' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="upload-area" id="uploadArea">

            <div class="upload-icon">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 16a4 4 0 01-.88-7.903A5 5 0 1115.9 6L16 6a5 5 0 011 9.9M15 13l-3-3m0 0l-3 3m3-3v12" />
                </svg>
            </div>
            <div class="upload-text">
                <h3>Drag and drop files here</h3>
                <p>Or click to browse your device</p>
                <span class="browse-btn">Browse Files</span>
            </div>
            
            <input type="file" class="file-input" id="fileInput" multiple accept="image/*" name="image-data">

        </div>
        <div class="upload-actions">
            <button type="reset" class="cancel-btn">Cancel</button>
            <button type="submit" class="upload-btn" id="uploadBtn" >
                Upload File
            </button>
        </div>
    </form>

    {% if message %}
    <div class="success-message">
        <div class="success-text">Image uploaded successfully!</div>
    </div>
    {% endif %} 
    
    </div>


   
</body>
</html>

